1. Load the dataset using pandas

In [ ]:
import pandas as pd
data=pd.read_csv('data.csv')

In [ ]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

2. Extract data fromYearsExperience column is a variable named X

In [ ]:
x=pd.DataFrame(data.iloc[:,0])
x

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

3. Extract data from salary column is a variable named Y

In [ ]:
y=data.iloc[:,1].values
y

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

4. Divide the dataset into two parts for training and testing in 66% and 33% proportion

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=.66,test_size=.33,random_state=0)

In [ ]:
x_train

    YearsExperience
5               2.9
16              5.1
8               3.2
14              4.5
23              8.2
20              6.8
1               1.3
29             10.5
6               3.0
4               2.2
18              5.9
19              6.0
9               3.7
7               3.2
25              9.0
3               2.0
0               1.1
21              7.1
15              4.9

In [ ]:
y_train

array([ 56642.,  66029.,  64445.,  61111., 113812.,  91738.,  46205.,
       121872.,  60150.,  39891.,  81363.,  93940.,  57189.,  54445.,
       105582.,  43525.,  39343.,  98273.,  67938.])

In [ ]:
x_test

    YearsExperience
2               1.5
28             10.3
13              4.1
10              3.9
26              9.5
24              8.7
27              9.6
11              4.0
17              5.3
22              7.9

In [ ]:
y_test

array([ 37731., 122391.,  57081.,  63218., 116969., 109431., 112635.,
        55794.,  83088., 101302.])

5. Create and train LinearRegression Model on training set

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg_model=LinearRegression()

In [ ]:
reg_model.fit(x_train,y_train)

LinearRegression()

6. Make predictions based on the testing set using the trained model

In [ ]:
y_pred=reg_model.predict(x_test)
y_pred #predicted salary

array([ 41358.96436914, 123219.18268604,  65544.93796277,  63684.47845557,
       115777.34465723, 108335.50662842, 116707.57441083,  64614.70820917,
        76707.69500598, 100893.66859961])

In [ ]:
y_test #actual salary

array([ 37731., 122391.,  57081.,  63218., 116969., 109431., 112635.,
        55794.,  83088., 101302.])

7. Check the performance by calculating the r2 score of the model

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,y_pred)

0.9733252098476468