1. Load the dataset using pandas

In [ ]:
import pandas as pd
data=pd.read_csv('diabetes.csv')
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

2. Extract data fromOutcome column is a variable named Y

In [ ]:
y=data['Outcome']
y #dependent column

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

3. Extract data from every column except Outcome column in a variable named X

In [ ]:
x=pd.DataFrame(data.iloc[:,:-1])
x #independent

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

4. Divide the dataset into two parts for training and testing in 70% and 30% proportion

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=.70,test_size=.30,random_state=1)

5. Create and train Logistic Regression Model on training set

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
log_model=LogisticRegression().fit(x_train,y_train)

In [ ]:
log_model

LogisticRegression()

6. Make predictions based on the testing set using the trained model

In [ ]:
x_test

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
285            7      136             74  ...  26.0                     0.647   51
101            1      151             60  ...  26.1                     0.179   22
581            6      109             60  ...  25.0                     0.206   27
352            3       61             82  ...  34.4                     0.243   46
726            1      116             78  ...  36.1                     0.496   25
..           ...      ...            ...  ...   ...                       ...  ...
241            4       91             70  ...  33.1                     0.446   22
599            1      109             38  ...  23.1                     0.407   26
650            1       91             54  ...  25.2                     0.234   23
11            10      168             74  ...  38.0                     0.537   34
214            9      112             82  ...  34.2                     0.260   36

[231 rows x 8 columns]

In [ ]:
y_pred=log_model.predict(x_test)
pd.DataFrame(y_pred)

     0
0    0
1    0
2    0
3    0
4    0
..  ..
226  0
227  0
228  0
229  1
230  0

[231 rows x 1 columns]

In [ ]:
y_test

285    0
101    0
581    0
352    0
726    0
      ..
241    0
599    0
650    0
11     1
214    1
Name: Outcome, Length: 231, dtype: int64

7. Check the performance by calculating the confusion matrix and accuracy score of the model

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
print(accuracy_score(y_test,y_pred)*100)

78.35497835497836

In [ ]:
print(confusion_matrix(y_test,y_pred))

[[132  14]
 [ 36  49]]

In [ ]:
132+49

181

In [ ]:
132+14+36+49

231

In [ ]:
181/231

0.7835497835497836